<?xml version='1.0' encoding='utf-8'?>
<widget id="ml.srizan.eduardooconapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Eduardo Ocón APP</name>
    <description>La aplicación del colegio Eduardo Ocón.</description>
    <author email="izan@srizan.ml" href="https://srizan.ml">
        Izan Gil Cruz
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
